<div class="main-content-inner">
  <div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="/clients">Clients</a>
      </li>
      <li class="active">New Order</li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
          <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- /.nav-search -->
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <table id="simple-table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <%= form_for [@client, @order], html: {class: 'form-horizontal'} do |f| %>
                  <%=f.hidden_field :client_id %>
                  <%=f.fields_for :order_items do |oi| %>
                    <tr>
                      <td><%= oi.object.item.name %></td>
                      <%= oi.hidden_field :item_id %>
                      <%= oi.hidden_field :order_id %>
                      <td>
                      <%= oi.text_field :quantity, :oninput => 'calculatePrice(this)', price: oi.object.item.price, itemid: oi.object.item.id %> </td>
                      <td>
                        <%= oi.text_field :price, class: "amount-row#{oi.object.item.id}", readonly: true %>
                      </td>
                    </tr>
                  <% end %>                  
                  <tr><%= f.submit nil,class: "btn btn-sm btn-success"%></tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<script type="text/javascript">
var calculatePrice = function (obj) {
  var id = $(obj).attr("itemid");
  var amount = 0
	var quantity = obj.value;
  var price =$(obj).attr("price");  
  if (quantity != ""){
	 amount = parseInt(quantity)*parseInt(price)
  }
  $(".amount-row"+id).val(amount);
}
</script>
  