<%= form_for(@history) do |f| %>
	<table class="table" cellspacing=2>
		<thead>
			<tr>
				<th>Product</th>
				<th>1/2kg box</th>
				<th>1kg box</th>
				<th>Total karet</th>
				<th>Total in ltr</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>	
			<% @products.each do |p| %>
				<tr>
					<td><%= p.name %> </td>
					<td><%= text_field_tag '1/2ltr' %> </td>
					<td><%= text_field_tag '1ltr' %> </td>
					<td><%=text_field_tag 'totalkrt' %></td>
					<td><%=text_field_tag 'total in ltr' %></td>
					<td><%=text_field_tag 'total amount' %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%=f.submit %>		
<% end %>

<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
</style>
  