<% tab "cash" %>
<div class="main-content-inner">
	<div id="breadcrumbs" class="breadcrumbs ace-save-state">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">Home</a>
			</li>
			<li class="active">Dashboard</li>
		</ul><!-- /.breadcrumb -->

		<div id="nav-search" class="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" autocomplete="off" id="nav-search-input" class="nav-search-input" placeholder="Search ...">
					<i class="ace-icon fa fa-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- /.nav-search -->
	</div>
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-7">
						<div class="widget-box transparent">
							<div class="widget-header widget-header-flat">
								<h4 class="widget-title lighter">
								  <i class="ace-icon fa fa-star orange"></i>
								  Credited Details 
								</h4>
							</div>
							<div class="widget-body">
								<div class="widget-main no-padding">
									<table class="table table-bordered table-striped">
										<thead class="thin-border-bottom">
											<tr>
												<th></th>
												<th>Bank</th>
												<th>Credit</th>											
											</tr>
										</thead>
										<tbody>
											<% @cash_history.each_with_index do |row, i| %>
												<tr>
													<td><%=i+1 %></td>
													<td><%= row.bank %> </td>
													<td><b class="green"><%= row.credit  %></b> </td>									
												</tr>	
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="widget-box transparent">
							<div class="widget-header widget-header-flat">
								<h4 class="widget-title lighter">
								  <i class="ace-icon fa fa-star orange"></i>
								  Add Credit 
								</h4>
							</div>
							<div class="widget-body">
								<div class="widget-main no-padding">
									<%= form_tag  add_cash_path  do |f| %>
									  <div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">Bank</label>
											<div class="col-sm-9">
												<div class="pos-rel">
													<%= text_field_tag "cash[bank]", nil, placeholder: "Bank", class: "filter form-control" %>													
												</div>
											</div>
										</div><br/>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right">Credit</label>
											<div class="col-sm-9">
												<div class="pos-rel" style="margin-top: 5px;">
													<%= text_field_tag "cash[credit]",nil, placeholder: "Credit", class: "filter form-control" %>
												</div>
											</div>
										</div>
										<button class="btn btn-success">Save</button>						
									<% end %>
								</div>								
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>